# Compiled files
*.py[co]
*.a
*.o
*.so

# Sphinx
_build

# Packages/installer info
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Other
.testrepository
.tox
.*.swp
.coverage
cover
AUTHORS
ChangeLog

# Editor files
*~
*.swp

# Project file
.idea

# nova community codes
nova/
!nova/virt/azureapi/
!nova/tests/unit/virt/azureapi/

# cinder community code
cinder/
!cinder/volume/drivers/azure/
!cinder/tests/unit/volume/drivers/azure/
!cinder/backup/drivers/azure_backup.py
!cinder/tests/unit/backup/drivers/test_backup_azure.py
